<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>
<?php
$dir_html = htmlspecialchars($dir);
$plugin_name_html = htmlspecialchars($plugin['name']);
$plugin_version_html = htmlspecialchars($plugin['version']);
$plugin_brief_html = htmlspecialchars($plugin['brief']);
$plugin_icon_url_html = htmlspecialchars($plugin['icon_url']);
$plugin_bbs_version_html = htmlspecialchars($plugin['bbs_version']);
$plugin_brief_url = !empty($plugin['brief_url']) && xn_http_url_allowed($plugin['brief_url']) ? $plugin['brief_url'] : '';
$plugin_brief_url_html = htmlspecialchars($plugin_brief_url);
$plugin_qq_html = htmlspecialchars($plugin['qq']);
?>

<div class="row">
	<div class="col-12">
		<div class="btn-group mb-3" role="group">
			<?php echo admin_tab_active($menu['plugin']['tab'], $tab);?>
		</div>
		
		<div class="card">
			<div class="card-body">
				<div class="media">
					<div>
						<img src="<?php echo $plugin_icon_url_html; ?>" width="54" height="54" class="me-3" />
					</div>
					<div class="media-body">
						<h4><?php echo $plugin_name_html; ?> v<?php echo $plugin_version_html; ?></h4>
						<p><?php echo $plugin_brief_html; ?></p>
					</div>
				</div>
				<hr />
				<div class="row line-height-3">
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_dir');?></span>：
						<?php echo $dir_html; ?>
					</div>
					
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_bbs_version');?></span>：
						<?php echo $plugin_bbs_version_html; ?>
					</div>
					
					<?php if(!empty($plugin['pluginid'])) { ?>
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('price');?></span>：
						<span class="price"><?php echo $plugin['official']['price']; ?>元</span>
					</div>
					
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('installs');?></span>：
						<span><?php echo intval($plugin['installs']); ?></span>
					</div>
					
					<!--
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_user_stars_fmt');?></span>：
						<span><?php echo $plugin['user_stars_fmt']; ?></span>
					</div>
					-->

					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_sells');?></span>：
						<span><?php echo intval($plugin['sells']); ?></span>
					</div>
					
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_is_cert');?></span>：
						<span><?php echo $plugin['is_cert_fmt']; ?></span>
					</div>
					
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_brief_url');?></span>：
						<?php if($plugin_brief_url) { ?>
						<span><a href="<?php echo $plugin_brief_url_html; ?>" target="_blank" rel="noopener noreferrer"><?php echo $plugin_brief_url_html; ?></a></span>
						<?php } ?>
					</div>
					
					
					<div class="col-md-6">
						<span class="text-muted">客服QQ</span>：
						<span class="fw-bold text-danger"><?php echo $plugin_qq_html; ?></span>
					</div>
					
					<?php  } ?>
				</div>
				
				<hr />
				
				<?php if($errmsg) { ?>
				<div class="alert alert-primary">
					<?php echo $errmsg; ?>
				</div>
				<?php } ?>
				
				<?php if(!empty($plugin['pluginid']) && !empty($url)) { ?>
				<div class="row">
					<table width="60%" align="center">
						<tr>
							<td><?php if($plugin['img1_url']) { ?> <a href="<?php echo $plugin['img1_url'];?>" target="_blank"><img src="<?php echo $plugin['img1_url'];?>" width="100" height="120" class="border" /></a> <?php } ?></td>
							<td><?php if($plugin['img2_url']) { ?> <a href="<?php echo $plugin['img2_url'];?>" target="_blank"><img src="<?php echo $plugin['img2_url'];?>" width="100" height="120" class="border" /></a> <?php } ?></td>
							<td><?php if($plugin['img3_url']) { ?> <a href="<?php echo $plugin['img3_url'];?>" target="_blank"><img src="<?php echo $plugin['img3_url'];?>" width="100" height="120" class="border" /></a> <?php } ?></td>
							<td><?php if($plugin['img4_url']) { ?> <a href="<?php echo $plugin['img4_url'];?>" target="_blank"><img src="<?php echo $plugin['img4_url'];?>" width="100" height="120" class="border" /></a> <?php } ?></td>
						</tr>
					</table>
							
				</div>
				<hr />			
				<div class="row">
					<div class="col-12" style="text-align: center;">
						<img alt="<?php echo lang('plugin_wechat_qrcode_pay');?>" src="http://paysdk.weixin.qq.com/example/qrcode.php?data=<?php echo urlencode($url);?>" style="width:150px; height:150px;"/>
						<br><?php echo lang('plugin_wechat_qrcode_pay');?>
						<br><span class="price"><?php echo $plugin['official']['price']; ?>元</span>
					</div>
				</div>
				<?php } ?>
				<p class="text-center">
					<?php if($download_url && !$islocal) { ?>
						<a role="button" class="btn btn-primary download" data-method="post" href="<?php echo $download_url; ?>"><?php echo lang('download');?></a>
					<?php } ?>
					
					<?php if($plugin['setting_url']) { ?>
					<a role="button" class="btn btn-primary setting" href="<?php echo url("plugin-setting-$dir"); ?>"><?php echo lang('setting');?></a>
					<?php } ?>
					
					<?php if($islocal && !$plugin['installed']) { ?>
					<a role="button" class="btn btn-primary install" data-method="post" href="<?php echo url("plugin-install-$dir"); ?>"><?php echo lang('install');?></a>
					<?php } ?>
					
					<?php if($plugin['installed'] && $plugin['enable']) { ?>
					<a role="button" class="btn btn-secondary disable" data-method="post" href="<?php echo url("plugin-disable-$dir"); ?>"><?php echo lang('disable');?></a>
					<?php } ?>
					
					<?php if($plugin['installed'] && !$plugin['enable']) { ?>
					<a role="button" class="btn btn-secondary enable" data-method="post" href="<?php echo url("plugin-enable-$dir"); ?>"><?php echo lang('enable');?></a>
					<?php } ?>
					
					<?php if($plugin['installed']) { ?>
					<a role="button" class="btn btn-danger unstall confirm" data-method="post" data-confirm-text="<?php echo htmlspecialchars(lang('plugin_unstall_confirm_tips', array('name'=>$plugin['name'])), ENT_QUOTES);?>" href="<?php echo url("plugin-unstall-$dir"); ?>"><?php echo lang('unstall');?></a>
					<?php } ?>
					
					<?php if($plugin['have_upgrade']) { ?>
					<a role="button" class="btn btn-primary upgrade" data-method="post" href="<?php echo url("plugin-upgrade-$dir"); ?>"><?php echo lang('update');?></a>
					<?php } ?>
					
				</p>
		</div>
				
		<p class="mt-3 text-center">
			<a role="button" class="btn btn-secondary" href="javascript:history.back();" style="width: 210px;"><?php echo lang('back');?></a>
		</p>
	</div>
</div>

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<script>
$('#nav li.nav-item-plugin').addClass('active');

<?php if(!empty($plugin['pluginid']) && !empty($url) && !is_dir(APP_PATH."plugin/$dir")) { ?>

// 定时查询 plugin.xiuno.com ，如果支付成功，则跳转到下载。
var dir = <?php echo xn_json_encode_for_script($dir);?>;
	
var t = setInterval(function() {
	$.xget(xn.url('plugin-is_bought-'+dir), function(code, message) {
		if(code == 0) {
			// 支付成功，跳转到下载。
			clearInterval(t);
			$.xpost(xn.url('plugin-download-'+dir), function(code, message) {
				if(code == 0) {
					window.location = xn.url('plugin-read-'+dir);
				} else {
					alert(message);
				}
			});
		}
	});
}, 5000);
<?php } ?>

</script>
