<?php $db = G('db');?>
<?php $starttime = G('starttime');?>
<?php $time = G('time');?>
<?php $ip = G('ip');?>
<?php $useragent = G('useragent');?>
<?php $forumlist = G('forumlist');?>
<?php $forumarr = G('forumarr');?>
<?php $fid = G('fid');?>
<?php $conf = G('conf');?>
<?php $static_version = $conf['static_version'];?>
				
			<!--{hook footer_start.htm}-->
		
			<?php  echo xn_debug_info(); ?>
	
		</div>
	</main>
	
	<!--{hook footer_nav_before.htm}-->
	
	<!--{hook footer_nav_after.htm}-->

	<footer class="text-white-50 small bg-dark py-4" id="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<!--{hook footer_footer_left_start.htm}-->
					Powered by <b>Xiuno Next <span><?php echo $conf['version'];?></span></b>
					<!--{hook footer_footer_left_end.htm}-->
				</div>
				<div class="col text-end">
					<!--{hook footer_footer_right_start.htm}-->
					Time: <b><?php echo substr(microtime(1) - $starttime, 0, 5);?></b>, SQL: <b><?php echo count($db->sqls);?></b>
					<!--{hook footer_footer_right_end.htm}-->
				</div>
			</div>
		</div>
	</footer>
	
	<!--[if lt IE 9]>
	<script>window.location = <?php echo xn_json_encode_for_script(url('browser'));?>;</script>
	<![endif]-->
	
	<!--{hook footer_js_before.htm}-->
	
	<script src="lang/<?php echo $conf['lang'];?>/bbs.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/jquery-3.1.0.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/popper.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/bootstrap.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/xiuno.min.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/htmx.min.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/htmx-xiuno.min.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/bs4-compat.min.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/bootstrap-plugin.min.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/async.min.js<?php echo $static_version;?>"></script>
	<script src="<?php echo $conf['view_url'];?>js/form.min.js<?php echo $static_version;?>"></script>
	<script>
	var debug = DEBUG = <?php echo intval(DEBUG); ?>;
	var url_rewrite_on = <?php echo intval($conf['url_rewrite_on']);?>;
	var forumarr = <?php echo xn_json_encode_for_script($forumarr);?>;
	var fid = <?php echo intval($fid);?>;
	var uid = <?php echo intval($uid);?>;
	var gid = <?php echo intval($gid);?>;
	var csrf_token = <?php echo xn_json_encode_for_script(csrf_token());?>;
	xn.options.water_image_url = <?php echo xn_json_encode_for_script($conf['logo_water_url']);?>;
	$.ajaxSetup({beforeSend:function(xhr){xhr.setRequestHeader('X-CSRF-TOKEN',csrf_token);}});
	</script>
	<script src="<?php echo $conf['view_url'];?>js/bbs.min.js<?php echo $static_version;?>"></script>
	<?php theme_render_scripts(); ?>
	<!--{hook footer_js_after.htm}-->
	
</body>
<!--{hook footer_body_after.htm}-->
</html>
<!--{hook footer_end.htm}-->

<?php echo cron_run();?>
