<template include="./view/htm/user_thread.template.htm">
	<slot name="user_body">
		<div id="thread-list-region">
			<ul class="list-unstyled threadlist">
				<?php include _include(APP_PATH.'view/htm/thread_list.inc.htm'); ?>
			</ul>

			<?php if($pagination) { ?>
			<nav<?php include _include(APP_PATH.'view/htm/htmx_thread_list_pagination_attrs.inc.htm');?>><ul class="pagination justify-content-center flex-wrap"><?php echo $pagination; ?></ul></nav>
			<?php } ?>
		</div>
	</slot>
</template>

<script>
$('a[data-active="user-thread"]').addClass('active');
</script>
